# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* Some of the popular languages that Data Scientists use
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Scipy
- Matplotlib
- Scikit-learn

|Data Science Tools|
|----|
|R Studio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python:
- Y+X=3
- X/Y=2
- X**Y=1

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17


This will convert 200 minutes to hours by diving by 60

In [35]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Ant√≥nio Tiago Amaro Moutinho